*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h3 {
  margin-left: 12px;
}

header {
  width: 100%;
  background-color: black;
}

.header-text {
  float: right;
}

footer {
  text-align: center;
  width: 100%;
}

ul {
  padding: 30px;
  list-style-type: none;
}

li {
  float: left;
  padding: 0px 5px;
  margin-top: -12px;
  margin-right: 20px;
  font-size: large;
  color: white;
}

li a {
  color: white;
  text-decoration: none;
  display: block;
}

li a:hover {
  color: darksalmon;
}

.container {
  width: 100%;
  margin: 3rem auto;
}

.img-single-post {
  margin-left: 12px;
}

.btn-margin {
  margin: 5px;
}

.link-posts {
  text-decoration: none;
}

.custom-card {
  /* width: calc(33.33% - 20px);  For three cards in a row */
  /* width: calc(25% - 20px);    for four cards in a row */
  border: 1px solid #a2a1a1;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem 10px;
  text-decoration: none;
  height: 300px;
  width: 19.2rem;
}

.last-post {
  /* Add styling to make the last post justified left */
  margin-right: auto;
  margin-left: auto;
}

.card-img-top {
  width: 100%;
  height: 18vh;
  object-fit: cover;
}

.card-title-postcard {
  font-size: x-large;
  padding-top: 5px;
}

.date-size {
  font-size: medium;
}

.card-content {
  font-size: large;
}

.form {
  width: 500px;
  margin-left: 13px;
  margin-top: 30px;
}

.form input {
  margin-left: 20px;
  border-style: groove;
}

.show-title {
  font-size:xx-large;

}

.show-date {
  font-size: medium;
  margin-top:7px;
}

.show-content {
  font-size:x-large;
  margin-left: 13px;
  
}